.header{
	height: 60px;
	background: #000;
}
.left {
	height: 100%;
	width: 240px;
	background: #eff4f9;
	float: left;
}
html,body,#root{
	height: 100%;
}
.layout{
	height: calc(100% - 60px)
}

/*header*/
.logo-wrap{
	width: 240px;
	background: #1388ff;
	color: #fff;
	line-height: 60px;
	font-size: 24px;
	float: left;
	text-align: center;
}
a{
	text-decoration: none;
}